
*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #ffffff;
    --light-color: #D6FBF8;
    --primary-color: #84a9ac;
    --secondary-color: #3b6978;
    --font-color: #204051;
    --box-color: #900c3f;
}

body{
    background-color: var(--background-color);
    background-image: url(./images/Lighthouse.jpg;
    color: var(--font-color);
    font-family: 'Slabo 27px', serif;
}

img{
    width: 100%;
}

.container{
    background-color: var(--light-color);
    max-width: 1000px;
    margin: 2rem auto;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.head{
    background-color: var(--font-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
}

.round,
.roundScore{
    margin: 1rem;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2;
}


.playersScore{
    display: flex;
    font-family: 'Slabo 27px', serif;
    border-bottom: 5px solid var(--font-color);
}

.playersScore p{
    font-size: 2rem;
    font-weight: bolder;
}
.scoreContainer{
    margin: 0.5rem;
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.userSelection,
.botSelection{
    padding-top: 0.5rem;
}
.scoreTie{
    flex: 0;
    padding: 0 1rem;
}

.scoreTitle{
    margin-right: 1rem;
}

.main{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.player{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.userSelect,
.botSelect{
    font-size: 1.2rem;
    font-weight: 700;
}

.user,
.bot{
    border: 1px solid rgba(0,0,0,0.5);
}
.result{
    font-size: 2rem;
    font-family: 'Modak', cursive;
    color: var(--box-color);
    padding: 0.2rem;
}


.buttons{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.play i{
    padding: 1rem;
    background-color: var(--font-color);
    color: var(--background-color);
    border-radius: 50%;
    margin: 1rem;
    width: 3rem;
}

.play i:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.play i:active{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
}


@media (max-width: 450px){
    .main{
        flex-direction: column;
    }
    .player{
        margin: 0.3rem;
        justify-content: space-evenly;
    }

    .scoreContainer{
        flex-direction: column;
    }

    img{
        width: 30%;
    }

    .playersScore p{
        font-size: 1.3rem;
        font-weight: bolder;
    }
}
